<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=' />
  </head>

  <body>
    <div
      style='margin:0;padding:20px 0'
      bgcolor='#ebebeb'
      marginwidth='0'
      marginheight='0'
    >
      <br />
      <table
        border='0'
        width='100%'
        height='100%'
        cellpadding='0'
        cellspacing='0'
        bgcolor='#ebebeb'
        style='margin:15px 0;margin:15px 0'
      >
        <tbody>
          <tr>
            <td
              align='center'
              valign='top'
              bgcolor='#ebebeb'
              style='background-color:#ebebeb'
            >
              <table
                style='margin:15px 0;padding:15px 0'
                border='0'
                width='600'
                cellpadding='0'
                cellspacing='0'
              >
                <tbody>
                  <tr>
                    <td
                      bgcolor='#ffffff'
                      style='background-color:#ffffff;padding-left:30px;padding-right:30px;font-size:14px;line-height:20px;font-family:Helvetica,sans-serif;color:#333'
                    >
                      <br />
                      <br />
                      <div>
                        <p> Xin chào {{merchantName}}: </p>
                        <p>Chúc mừng! Cảm ơn bạn đã mở cửa hàng của bạn bằng cách sử dụng
                          <span class='il'>SCMT</span>.
                        </p>
                        <ul>
                          <li>Email đăng nhập của bạn:
                            <a target='_blank'>{{merchantEmail}}</a>
                          </li>
                          <li>Của hàng của bạn:
                            <a>{{storeName}}</a>
                          </li>
                        </ul>
                        <p><strong>Một số bước tiếp theo dành cho bạn:</strong></p>
                        <ul>
                          <li>Tải lên sản phẩm đầu tiên của bạn</li>
                          <li>Thiết lập tùy chọn thanh toán và giao hàng của bạn</li>
                        </ul>
                        <p>Hãy cho chúng tôi biết nếu bạn có bất kỳ câu hỏi hoặc đề nghị.
                          Chúng tôi sẽ liên lạc lại với bạn thật nhanh.</p>
                        <p></p>
                        <p style='padding-bottom: 40px;'>Best,<br /><span
                            class='il'
                          >SKYPAY</span>
                          team</p>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>

</html>